<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">
	
	<context:component-scan base-package="com.listen"/>
	
	<!--避免IE执行AJAX时，返回JSON出现下载文件 -->
	<bean id="mappingJacksonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/html;charset=UTF-8</value>
			</list>
		</property>
	</bean>
	
    <!-- 引入配置文件 -->  
    <bean id="propertyConfigurer"  
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">  
        <property name="locations">
	        <list>
		        <value>classpath:jdbc.properties</value>
	     	</list>
        </property>  
    </bean>
	
	<import resource="spring-i18n.xml" />
	<import resource="spring-shiro.xml" />
	<import resource="spring-mybatis.xml" />
	
	<!-- 定时器 -->
	<bean id="cardJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="mapThreadQuart"/>
		<property name="targetMethod" value="execute"/>
		<property name="concurrent" value="false"/>
	</bean>
	<bean id="cardTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="cardJobDetail"/>
		<property name="cronExpression" value="0 */1 * * * ?"/>
	</bean>
	
	<bean id="threadJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="threadQuart"/>
		<property name="targetMethod" value="execute"/>
		<property name="concurrent" value="false"/>
	</bean>
	<bean id="threadTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="threadJobDetail"/>
		<property name="cronExpression" value="0 0 1 * * ?"/>
	</bean>
	
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers" >
			<list>
				<ref bean="cardTrigger"/>
				<ref bean="threadTrigger"/>
			</list>
		</property>
		<property name="autoStartup" value="true"/>
	</bean>
	
</beans>