<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.dao.SysMenuMapper">

  <resultMap id="BaseResultMap" type="com.web.entity.SysMenu">
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="parent_id" property="parentId" />
    <result column="url" property="url" />
    <result column="perms" property="perms" />
    <result column="type" property="type" />
    <result column="icon" property="icon" />
    <result column="order_num" property="orderNum" />
    <result column="create_by" property="createBy" />
    <result column="create_time" property="createTime" />
    <result column="last_update_by" property="lastUpdateBy" />
    <result column="last_update_time" property="lastUpdateTime" />
    <result column="del_flag" property="delFlag" />
  </resultMap>
  
  
  <sql id="Base_Column_List">
    id, name, parent_id, url, perms, type, icon, order_num, create_by, create_time, last_update_by, last_update_time, del_flag
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from sys_menuwhere id = #{id}
  </select>
  
  <select id="selectByRoleId" parameterType="java.lang.Integer" resultType="java.lang.String">
    select url from sys_menu where id in (select menu_id from sys_role_menu where role_id = #{roleId})
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap">
    select * from sys_menu
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_menu where id = #{id}
  </delete>
  
  <insert id="insert" parameterType="com.web.entity.SysMenu">
    insert into sys_menu (name, parent_id, url, perms, type, icon, order_num, create_by, create_time, last_update_by, last_update_time, del_flag)
    values (#{name}, #{parentId}, #{url}, #{perms}, #{type}, #{icon}, #{orderNum}, #{createBy}, #{createTime}, #{lastUpdateBy}, #{lastUpdateTime}, #{delFlag})
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.web.entity.SysMenu">
    update sys_menu
    <set>
      <if test="name != null">
        name = #{name},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId},
      </if>
      <if test="url != null">
        url = #{url},
      </if>
      <if test="perms != null">
        perms = #{perms},
      </if>
      <if test="type != null">
        type = #{type},
      </if>
      <if test="icon != null">
        icon = #{icon},
      </if>
      <if test="orderNum != null">
        order_num = #{orderNum},
      </if>
      <if test="createBy != null">
        create_by = #{createBy},
      </if>
      <if test="createTime != null">
        create_time = #{createTime},
      </if>
      <if test="lastUpdateBy != null">
        last_update_by = #{lastUpdateBy},
      </if>
      <if test="lastUpdateTime != null">
        last_update_time = #{lastUpdateTime},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag},
      </if>
    </set>
    where id = #{id}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.web.entity.SysMenu">
    update sys_menu set name = #{name},
      parent_id = #{parentId},
      url = #{url},
      perms = #{perms},
      type = #{type},
      icon = #{icon},
      order_num = #{orderNum},
      create_by = #{createBy},
      create_time = #{createTime},
      last_update_by = #{lastUpdateBy},
      last_update_time = #{lastUpdateTime},
      del_flag = #{delFlag}
    where id = #{id}
  </update>
  
  
  
  
  
    <insert id="insertSelective" parameterType="com.web.entity.SysMenu">
    insert into sys_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="perms != null">
        perms,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="orderNum != null">
        order_num,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastUpdateBy != null">
        last_update_by,
      </if>
      <if test="lastUpdateTime != null">
        last_update_time,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="name != null">
        #{name},
      </if>
      <if test="parentId != null">
        #{parentId},
      </if>
      <if test="url != null">
        #{url},
      </if>
      <if test="perms != null">
        #{perms},
      </if>
      <if test="type != null">
        #{type},
      </if>
      <if test="icon != null">
        #{icon},
      </if>
      <if test="orderNum != null">
        #{orderNum},
      </if>
      <if test="createBy != null">
        #{createBy},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
      <if test="lastUpdateBy != null">
        #{lastUpdateBy},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime},
      </if>
      <if test="delFlag != null">
        #{delFlag},
      </if>
    </trim>
  </insert>
</mapper>