<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.dao.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.web.entity.SysUser">
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="nick_name" property="nickName" />
    <result column="avatar" property="avatar" />
    <result column="password" property="password" />
    <result column="email" property="email" />
    <result column="mobile" property="mobile" />
    <result column="sexuality" property="sexuality" />
    <result column="create_by" property="createBy" />
    <result column="create_time" property="createTime" />
    <result column="last_update_by" property="lastUpdateBy" />
    <result column="last_update_time" property="lastUpdateTime" />
    <result column="del_flag" property="delFlag" />
  </resultMap>
  

  
  <sql id="Base_Column_List">
    id, name, nick_name, avatar, email, mobile, sexuality, create_by, create_time, last_update_by, last_update_time, del_flag
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from sys_user where id = #{id}
  </select>
  
  <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from sys_user where name = #{name}
  </select>
  
  <select id="findAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from sys_user
  </select>
  
  <select id="selectUserByPage" parameterType="com.web.entity.SysUser" resultMap="BaseResultMap">
    select * from sys_user where 1=1
     <if test="name != null">
        and name like #{name}
      </if>
      <if test="nickName != null">
        and nick_name like #{nickName}
      </if>
      <if test="email != null">
        and email like #{email}
      </if>
      <if test="mobile != null">
        and mobile like #{mobile}
      </if>
      <if test="sexuality != null">
        and sexuality=#{sexuality}
      </if>
      <if test="delFlag != null">
        and del_flag=#{delFlag}
      </if>
      <if test="createTimeBegin != null">
        and create_time &gt; createTimeBegin
      </if>
      <if test="createTimeEnd != null">
        and create_time &lt; createTimeEnd
      </if>
      limit #{firstResult},#{pageSize}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_user where id = #{id}
  </delete>
  
  <insert id="insert" parameterType="com.web.entity.SysUser">
    insert into sys_user (name, nick_name, avatar, password, email, mobile, sexuality, create_by, create_time, last_update_by, last_update_time, del_flag)
    values (#{name}, #{nickName}, #{avatar}, #{password}, #{email}, #{mobile}, #{sexuality},#{createBy}, #{createTime}, #{lastUpdateBy}, #{lastUpdateTime}, #{delFlag})
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.web.entity.SysUser">
    update sys_user
    <set>
      <if test="name != null">
        name = #{name},
      </if>
      <if test="nickName != null">
        nick_name = #{nickName},
      </if>
      <if test="avatar != null">
        avatar = #{avatar},
      </if>
      <if test="password != null">
        password = #{password},
      </if>
      <if test="email != null">
        email = #{email},
      </if>
      <if test="mobile != null">
        mobile = #{mobile},
      </if>
      <if test="sexuality != null">
        sexuality = #{sexuality},
      </if>
      <if test="createBy != null">
        create_by = #{createBy},
      </if>
      <if test="createTime != null">
        create_time = #{createTime},
      </if>
      <if test="lastUpdateBy != null">
        last_update_by = #{lastUpdateBy},
      </if>
      <if test="lastUpdateTime != null">
        last_update_time = #{lastUpdateTime},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag}
      </if>
    </set>
    where id = #{id}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.web.entity.SysUser">
    update sys_user set name = #{name},
      nick_name = #{nickName},
      avatar = #{avatar},
      password = #{password},
      email = #{email},
      mobile = #{mobile},
      sexuality = #{sexuality},
      create_by = #{createBy},
      create_time = #{createTime},
      last_update_by = #{lastUpdateBy},
      last_update_time = #{lastUpdateTime},
      del_flag = #{delFlag}
    where id = #{id}
  </update>
  
  
  
  
  
  <insert id="insertSelective" parameterType="com.web.entity.SysUser">
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="nickName != null">
        nick_name,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="sexuality != null">
        sexuality,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastUpdateBy != null">
        last_update_by,
      </if>
      <if test="lastUpdateTime != null">
        last_update_time,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name},
      </if>
      <if test="nickName != null">
        #{nickName},
      </if>
      <if test="avatar != null">
        #{avatar},
      </if>
      <if test="password != null">
        #{password},
      </if>
      <if test="email != null">
        #{email},
      </if>
      <if test="mobile != null">
        #{mobile},
      </if>
      <if test="sexuality != null">
        #{sexuality},
      </if>
      <if test="createBy != null">
        #{createBy},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
      <if test="lastUpdateBy != null">
        #{lastUpdateBy},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime},
      </if>
      <if test="delFlag != null">
        #{delFlag},
      </if>
    </trim>
  </insert>
  
</mapper>