<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.dao.LightStrategyMapper">
  <resultMap id="BaseResultMap" type="com.web.entity.LightStrategy">
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="begin" property="begin" />
    <result column="end" property="end" />
    <result column="brightpercent" property="brightpercent" />
    <result column="createdate" property="createdate" />
    <result column="description" property="description" />
  </resultMap>
  

  
  <sql id="Base_Column_List">
    id, name, begin, end, brightpercent, createdate, description
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from light_strategy where id = #{id}
  </select>
  
  <select id="selectLightStrategyByPage" parameterType="com.web.entity.LightStrategy" resultMap="BaseResultMap">
    select * from light_strategy where 1=1
      <if test="name != null">
        and name=#{name}
      </if>
      <if test="description != null">
        and description like #{description}
      </if>
      limit #{firstResult},#{pageSize}
  </select>
  
  
  
  <select id="selectByLightId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from light_strategy where id = (select strategyid from light_team where id = (select teamid from lighting_intel where id = #{lightid}))
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from light_strategy where id = #{id}
  </delete>
  
  <insert id="insert" parameterType="com.web.entity.LightStrategy">
    insert into light_strategy (name, begin, end, brightpercent, createdate, description) values (#{name}, #{begin}, #{end}, #{brightpercent}, #{createdate}, #{description})
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.web.entity.LightStrategy">
    update light_strategy
    <set>
      <if test="name != null">
        name = #{name},
      </if>
      <if test="begin != null">
        begin = #{begin},
      </if>
      <if test="end != null">
        end = #{end},
      </if>
      <if test="brightpercent != null">
        brightpercent = #{brightpercent},
      </if>
      <if test="description != null">
        description = #{description},
      </if>
    </set>
    where id = #{id}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.web.entity.LightStrategy">
    update light_strategy set name = #{name},
      begin = #{begin},
      end = #{end},
      brightpercent = #{brightpercent},
      description = #{description}
    where id = #{id}
  </update>
  
  
  
  
  
 
  
</mapper>