.adv-left{
	position: relative;
	background: #f5f5f5;
	overflow: hidden;
}
.adv-left-cont{
	padding:0px 10px;
    /*padding-top: 10px;*/
    overflow: hidden;
    overflow-y: auto;
    overflow-x: auto;
}
.adv-left-search{
	overflow: hidden;
	padding:10px 10px;
}
.adv-left-button{
	/*border-top: 1px solid #ddd;
    padding: 10px 6px;*/
}
.layout-msg{
	width: 300px;
	height: 314px;
	display: none;
	position: absolute;
	z-index: 11;
	bottom: 0;
	background: #000;
	opacity:.8;
}
.layout-msg .title{
	border-bottom: 1px solid #7d7d7d;
}
.layout-msg .title h2{
	padding:10px;
	margin: 0px;
	font-size: 14px;
	color:#fff;
}
.layout-msg .title .remove{
	position: absolute;
    top: 6px;
    right: 12px;
    cursor: pointer;
}
.layout-msg .title .add{
	position: absolute;
    top: 7px;
    right: 40px;
    cursor: pointer;
}
.layout-msg .title .fa-remove{
    color:#909090;
}
.layout-msg .cont{
    height: 278px;
	overflow: hidden;
	overflow-y: auto;
}
.layout-msg .fixed-table-body thead th .th-inner{
	color:#fff;
}
.layout-msg .bootstrap-table .table:not(.table-condensed) > tbody > tr > td{
	color:#fff;	
}
.layout-msg .table-hover tbody tr:hover > td{
	background: #424242;
}
.layout-msg .fixed-table-container tbody .selected td{
	background: #424242;
}
.layout-msg .fa-trash-o{
	color: #fff
}
.layout-msg .table td{
    border-top-color: #4C4C4C !important;
}
.layout-msg .table thead{
	border-top:none;
}
.mapLayOutMsg .title{
	padding:8px 0px;
}
.mapLayOutMsg .name{
	height: 33px;
	padding-right: 10px;
	line-height: 33px;
}
.mapLayOutMsg .showList{
    border: 1px solid #ddd;
}
.mapLayOutMsg .showList ul{
	height: 100px;
	overflow: hidden;
	overflow-y:auto; 
}
.mapLayOutMsg .showList ul li{
	height: 30px;
	line-height: 30px;
    border-bottom: 1px solid #ddd;
    padding: 0px 10px 0px 10px;
}
.mapLayOutMsg .showList ul li span.right{
    display: inherit;
}
.mapLayOutMsg .mapLayoutMsgBtn{
	margin-top:10px; 
}
.mapLayOutMsg .topTitle{
	font-size: 16px;
	border-bottom: 1px solid #ddd;
	padding-bottom:10px;
	margin-bottom: 10px;
}
.rightMapList{
	position: relative;
}
.rightMapListHidden{
    position: absolute;
    top: 50%;
    left: -14px;
    z-index: 2;
    cursor: pointer;
    height: 88px;
    width: 14px;
    margin-top:-44px;
    background-image: url(../../images/icon-rightMapListhid.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.baiduMapFence{
	position: relative;
	overflow: hidden;
}
.baiduMapFenceLeft{
	position: relative;
	width:75%; 
}
.baiduMapFenceRight{
	width:23%; 
}
.fence{
	width:100%;
}
.rml{
	width:0%;
}
#sendPlayTree{
	height: 400px;
	overflow: hidden;
	overflow-y: auto;
}
#sendPlayEq{
	border:1px solid #ddd;
	border-top:none;
}
.BMap_contextMenu{
	border-radius: 5px !important;
	border:none !important;
	padding:5px 0px !important;
}
.BMap_contextMenu div{
	width: 100px !important;
	height: 30px;
    padding:0px !important;
    margin:0px !important;
	line-height: 30px !important;
    text-align: center;
}
.BMap_contextMenu div:hover{
	background: #f17100;
}
.BMap_contextMenu div:hover span{
    color:#fff;
}

#topSearch {
    position: absolute;
    top: 6px;
    left: 10px;
    z-index: 1;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
#cityInput{
	width: 80px;
}
#searchSet{
	display: inline-block;
	width: 60%;
	margin:0px 5px;
	float: left;
}
#distpicker5 .form-group{
	display: inline-block;
	margin-bottom: 0px;
}
.bmap-control-label{
	display: inline-block;
	margin-right: 20px;
}
.bmap-val{
	display: inline-block;
	width: 84%;
}
.bmap-radio{
	margin:0px 10px;
}
.mapLayoutMsgBtn .btn-primary{
	margin-left: 10px;
}
.mapLayOutMsg{
	margin-bottom: 20px;
}
.bmap-sider{
    display: none;
    position: absolute;
    bottom: 0px;
    background-color: #163A66;
    width: 100%;
    padding: 20px;
    opacity: .9;
}
.bmap-sider .bmap-sider-in{
	width: 266px;
	margin:0 auto;
	overflow: hidden;
}
.bmap-sider #sizeVal{
	width:50px;
	border:none;
	border-radius: 5px;
	text-align: center;
}
.bmap-sider .title{
	margin-bottom: 10px;
	color:#fff;
	text-align: center;
}
.bmap-sider .zoom{
	margin-right: 20px;
}
.bmap-sider .zoom em{
	margin-left: 10px;
	color:#fff;
}
.noUiSlider.horizontal{
	margin-top:6px; 
}
#province{
	min-width: 185px;
}
#city{
	min-width: 157px;
}
.bmap-address{
	position: absolute;
	width: 290px;
	/*height: 298px;*/
	top:70px;
	left:12px;
	display: none;
	padding:4px;
	background:#fff;
	-webkit-box-shadow:1px 1px 3px rgba(0,0,0,0.3);
	-moz-box-shadow:1px 1px 3px rgba(0,0,0,0.3);
	-ms-box-shadow:1px 1px 3px rgba(0,0,0,0.3);
	-o-box-shadow:1px 1px 3px rgba(0,0,0,0.3);
	box-shadow:1px 1px 3px rgba(0,0,0,0.3);
	overflow:hidden;
	overflow-y:auto; 
}
.bmap-address ul li{
	position: relative;
	padding:10px;
	border-bottom:1px solid #F3F3F3;
}
.bmap-address .res-data{
	padding-bottom:43px;
}
.bmap-address .res-data:hover{
	background: #F7F7F7;
	cursor: pointer;
}
.bmap-address .res-marker{
	width: 23px;
	height: 26px;
	text-align: center;
	color:#fff;
	background-image: url(../../images/icon-marker.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
.bmap-address .res-address{
	width:180px;
	line-height: 25px;
	padding-left:10px;
}
.bmap-address .bmap-searchNum{
	position: relative;
	padding:0px 10px;
	height: 30px;
	line-height: 30px;
	background-color: #F9F9F9;
	margin-bottom: 4px;
}
.bmap-address div.btn{
    position: absolute;
    bottom: 10px;
    right: 17px;
    padding: 6px 0px;
}
.bmap-address .title{
	font-weight: 500;
}
.bmap-address .add{
	color:#666;
}
.bmap-address .close{
    position: absolute;
    right: 0;
    background: #999;
    color: #FFFFFF;
    padding: 2px 4px;
    opacity: 1;
}
#bmap-addressList{
	height: 266px;
	overflow:hidden;
	overflow-y:auto; 
}
.noUiSlider {
	width:160px;
}
.mapSearch{
	position: relative;
    /*padding-right: 85px;*/
}
#distpicker5{
    /*margin-bottom: 10px;*/
}
.adv-left-button{
	margin-top: 8px; 
}
.adv-left-button .insideBtn{
	margin: 0px 4px 2px 0px;
}
@media (max-width: 1517px) {
	.bmap-address{
	    top: 148px;
	    left: 10px;
	}
	#topSearch{
		width:287px;
	}
	#distpicker5 .form-group{
		display: block;
		margin-bottom: 8px;
	}
	#searchSet{
		margin-left: 0px;
	}
}
@media (max-width: 1200px) {

}
@media (max-width: 768px) {

	.bmap-address{
	    top: 213px;
	    left: inherit;
	    right: 15px;
	}
	#topSearch{
	    top: 69px;
	    left: inherit;
	    right: 15px;
	}
	#searchSet{
		margin-left: 0px;
	}
	
	.baiduMapFenceLeft{
		width: 60%;
	}

	.baiduMapFenceRight{
		width: 38%;
	}

}
@media (max-width: 480px) {

}