/****************************      树形样式       */
.jqx-widget-header{
    background:none;
    border-color:#ddd;
}
.jqx-widget-content{
    border-color:#ddd;
}
.jqx-widget .jqx-grid-cell, .jqx-widget .jqx-grid-column-header, .jqx-widget .jqx-grid-group-cell{
    border-color:#ddd;
}
.jqx-fill-state-pressed{
    background:#e9e9e9;
}
.form-horizontal .form-group span{
	line-height: 30px;
}
@media (max-width: 1200px) {

}
@media (max-width: 768px) {

}
@media (max-width: 480px) {

	/* 信息列表分页 */
	.table-list .page .dataTables_info{
		float:none;
		padding:0;
	}
	.table-list .page .pageNum{
		float:none;
	}

	
}
