body{
  background: url(../../images/indexBtn-bg.jpg) no-repeat top center;
  background-size: inherit;
  overflow-x:hidden; 
}
#choice-win{
  position: absolute;
  top:50%;
  left:50%;
  width:100%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform:translate(-50%,-50%);
}
#choice-win .item{
  /*width: 16%;*/
  height: 260px;
  padding: 82px 0px 70px 0px;
  float: left;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 84%;
  text-align: center;
}
#choice-win .item a{
  display: inline-block;
}
#choice-win .item i{
  color:#fff;
  font-size: 54px;
}
#choice-win .item p{
  color:#fff;
  font-size: 22px;
  white-space:nowrap;
}
#choice-win .btn01{
  background-image:url(../../images/btn01.png);
}
#choice-win .btn02{
  background-image:url(../../images/btn02.png);
}
#choice-win .btn03{
  background-image:url(../../images/btn03.png);
}
#choice-win .btn04{
  background-image:url(../../images/btn04.png);
}


/* pop */
#pop{background:#fff;width:260px;border:1px solid #6fa0c3;font-size:12px;position:fixed;right:10px;bottom:10px;}
#popHead{line-height:32px;background:#244e71;border-bottom:1px solid #e0e0e0;position:relative;font-size:12px;padding:0 0 0 10px;}
#popHead h2{font-size:14px;color:#ffffff;line-height:32px;height:32px;padding:0px;margin:0px;}
#popHead #popClose{position:absolute;right:10px;top:1px;color:#ffffff;}
#popHead a#popClose:hover{color:#f17100;cursor:pointer;}
#popContent{ max-height: 220px; overflow: auto; line-height: 25px;font-size: 14px;padding:5px 10px;}
#popTitle a{line-height:24px;font-size:14px;font-family:'微软雅黑';color:#333;font-weight:bold;text-decoration:none;}
#popTitle a:hover{color:#f60;}
#popIntro{text-indent:24px;line-height:160%;margin:5px 0;color:#666;}
#popMore{text-align:right;border-top:1px dotted #ccc;line-height:24px;margin:8px 0 0 0;}
#popMore a{color:#f60;}
#popMore a:hover{color:#f00;}

/*********************************************************   媒体查询   ****/
@media (max-width: 768px) {
  #choice-win .item{
    width:50%;
  }
}
@media (max-width: 480px) {

  #choice-win .item {
    width: 50%;
    height: 170px;
    padding:48px 0px;
  }
  #choice-win .item i{
    font-size: 40px;
  }
  #choice-win .item p{
    font-size: 20px;
  }
}

/*********************************************************   动画   ****/
.fadeInDown {  
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.flipInX {
  animation-delay:1s;
  -webkit-animation-delay:1s; 
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}


@-webkit-keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.fadeInUp {
  animation-delay:1.5s;
  -webkit-animation-delay:1.5s; 
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
