/*********************************************************   顶部数据   ****/
.stateRow{box-shadow: inset -1px 0px 5px 2px #f9f9f9;border-bottom:1px solid #dae3e9;}
.stateRow .col-md-2{padding:30px 10px 20px 0px;text-align: right;border-right:1px solid #dae3e9}
.stateRow .col-md-2:last-child{border-right:none;}
.stateRow .col-md-2 .number{font-size: 24px;}
.stateRow .col-md-2 .info{font-size: 18px;color:#999;}
.stateRow .col-md-2 span{display: block;line-height: 25px;}

.item{}
.item h2{color:#666;font-size: 16px;}
.item .table-info{overflow-x: auto;width: 100%;overflow-y: hidden;}

/*********************************************************   图表   ****/
.tab-chart-item{text-align: left;}
.tab-chart-item .tabbable{margin-top:4px;overflow: hidden;}
.tab-chart-item .nav-tabs{min-width: 296px;}
.tab-chart-item .nav-tabs>li>a{color:#666;font-size: 16px;}

/*********************************************************   媒体查询   ****/
@media (max-width: 1200px) {

}
@media (max-width: 768px) {
	.row-fluid .span7{width:100%;}
	.row-fluid .span5{width:100%;margin-left: 0;}
	.stateRow .col-md-2 {
	    border-right: 1px solid #dae3e9;
	    width: 50%;
	    border-bottom: 1px solid #dae3e9;
	    float: left;
	}
}
@media (max-width: 480px) {
	
}