
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar{  
    width: 8px;  
    height: 8px;  
    background-color: #eaeaea;  
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track{  
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);  
    border-radius: 10px;  
    background-color: #f5f5f5;  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb{  
    border-radius: 10px;  
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3);  
    background-color: #999;  
}
/*
*   表单内页公共样式表 
*/
/***************************************************************************** 信息列表TABLE */

.table-list .table-info-msgList{
    overflow-x:auto; 
}
.table-list .img{
    width: 60px; 
}
/* .table-list img{
    width: 100%; 
} */
.table-list .tab-btn{
    border-bottom: 1px solid #eee;
    padding:5px 0px;
    /* margin-top:10px; */
}

.table-list .tab-btn:first-child{
  border-top: 2px solid #eee;
}
.table-list .tab-btn-bottom{
    padding:10px 0px;
}
.table-list .tab-btn-bottom a{
  color:#333;
}
.table-list .tab-btn-item{
  position: relative;
  margin: 5px 4px;
}
.table-list .itemCheckbox{
    vertical-align: middle;
    text-align: center;
}
.table-list .btnList .btnItem{
    float: left;
    padding:0px 11px 0px 0px;
}
.table-list .btnList .btnItem:first-child{
    padding-left:0;
}
.table-list .btnList .btnItem:hover{
    cursor: pointer;
}
.table-list .btnList .btnItem i{
    color:#999;
}
.table-list .btnList .btnItem:hover i{
    color:#333;
}
.table-list .page .dataTables_info{
    float:left;
    padding: 25px 0px;
}
.table-list .page .pageNum{
    float: right;
}
.table-list td.btnList{
    min-width: 120px;
}
.table-list .choose select{
    margin-left: 4px;
    border-color:#ccc;
}
.table-info-msgList .itemInfo{
    background-color:#fbfbfb;
  display: none;
}
.table-info-msgList .itemInfo .itemDetailed ul li{
  float: left;
  padding: 4px 30px 4px 0px;
}
.table-info-msgList .itemInfo span.name{
  color:#333;
}
.table-info-msgList .itemInfo .note{
  word-break:break-word;
  white-space: normal;
}
.table thead {
  border-top:1px solid #dee3ea;
}
.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background-color: #f5fafc;
}
.table th.sortable {
  cursor: pointer;
}
.table th.sortable:hover {
  text-decoration: underline;
}
.table thead th {
  font-weight: bold;
  position: relative;
  padding-bottom: 20px !important;
  padding-top: 5px !important;
  /*text-transform: uppercase;*/
  font-size: 11px;
  vertical-align: top !important;
  border-bottom: 0px !important;
}
.table td {
  font-size: 14px;
  color: #526273;
  border-top-color: #edf2f7 !important;
  vertical-align: middle !important;
}
.table th.align-right,
.table td.align-right {
  text-align: right;
  padding-right: 10px !important;
}

table tr.first td {
  border-top: 0 none;
}
table th span.line {
  position: absolute;
  top: 0;
  left: -8px;
  border-left: 1px solid #dee3ea;
  height: 10px;
}
.table .item{float: left;}
/* modals*/
.modal-backdrop.in {
  opacity: 0.5 !important;
}
.table th, .table td {
  white-space: nowrap;
  /*min-width: 60px;*/
}
.table thead th {
  position: relative;
  padding-bottom:0px !important;
  font-size: 15px;
  font-weight:400;
}
.table thead th:after {
  position: absolute;
  right:0;
  content: '';
  top:0;
  width: 1px;
  height: 6px;
  background: #dae3e9;
}
.table thead th:last-child:after {
  display: none
}
.insideBtn{
    display: inline-block;
    padding: 6px 12px;
    margin:0px 0px 0px 4px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 5px;
    background: #fff;
    border:1px solid #ccc;
    outline:none;
}
.insideBtn>i{
  margin-right: 4px;
}
.btn>i{
  margin-right: 4px;
}
.insideBtn:hover{
  background-color: #e6e6e6;
    border-color: #adadad;
}
.search form{
    margin: 0;
}
.dateTime{
  padding-left: 8px;
}
.dateTime .input-append input{
  height: 33px;
  padding-left: 5px;
}
.dateTime .input-append .add-on, .input-prepend .add-on{
  height: 33px;
}
/***********  位置 */
.set{
  position: relative;
  margin-top:15px;
}
.set .goback{
  position: absolute;
  top: 0px;
  right: 0px;
}
.set .goback button{
  padding: 2px;
  margin-top: 5px;
  border: 0;
  background: none;
  margin-right: 5px;
}
/****************************************************** 右侧信息 */
#right-msg{
	padding:0px;
}
#right-msg img{
	width: 100%;
  height: 300px;
}
#right-msg .msg{
	padding:5px 15px;
}
#right-msg .right-msg{
  position: fixed;
  border-left:1px solid #ddd;
  background: #fafafa;
}
#right-msg .right-msg ul li{
	padding:5px 0px;
}
#right-msg .right-msg ul li span,#right-msg .right-msg ul li p.info{
	color:#666;
}
#right-msg .right-msg ul li p.info{
	line-height: 30px;
}
#right-msg .right-msg ul li span.title{
	color:#333;
}
#right-msg .show-editor-btn{
	padding:15px 15px 15px 15px;
	border-bottom: 1px solid #ddd;
}
#right-msg .right-msg .showMsg{
  height: 302px;
  overflow: hidden;
  overflow-y: auto;
  border-bottom: 1px solid #ddd;
}
#right-msg .right-msg .showMsg-text{
  /* padding:10px; */
}
#right-msg .right-msg .showMsg-audio{
  position: relative;
  text-align: center;
  top: 50%;
  margin-top: -15px;
}
/****************************************************** 搜索 */
.search{
}
.search form{
    margin: 0;
}

/****************************************************** 树形 */
.datagrid-header-inner{
	width:100%;
    border-top: 1px solid #ddd;
}
.datagrid-htable, .datagrid-btable, .datagrid-ftable{
	width: 100%;
}
.datagrid-cell-c1-button a{
	padding:0 4px;
  cursor: pointer;
}
.datagrid-header, .datagrid-td-rownumber{
	background: none;
    border:none;
}
.datagrid .panel-body{
	padding:0;
}
.table-list .table-info-msgList{
	overflow-x:hidden;
}
.datagrid{
  overflow-y: auto;
  max-height: 720px;
}
.datagrid-header td, .datagrid-body td, .datagrid-footer td{
	border:none;
    position:relative;
}
.datagrid-header td:after{
	border:none;
    position: absolute;
    right: 0;
    content: '';
    top: 0;
    width: 1px;
    height: 6px;
    background: #dae3e9;
}
.table-list .table-info-msgList .panel{
	border:none;
}
.datagrid-header-row, .datagrid-row {
    height: 36px;
}
.datagrid-row-selected{
	background: #f5f5f5;
}
.datagrid-cell{

}
.datagrid-cell, .datagrid-cell-group, .datagrid-header-rownumber, .datagrid-cell-rownumber{
	font-size: 15px
}
.tree-title,.datagrid-header .datagrid-cell span{
	font-size: 15px
}
.datagrid-row-over, .datagrid-header td.datagrid-header-over {
    background:#f5f5f5;
}
/* 移动端按钮 */
#material-modalMenu{
  display: none;
}

.btn-group, .btn-group-vertical{
  vertical-align: top;
}

.alarmSmTimeItem{
  position: relative;
  padding: 0px 10px;
}
.alarmSmTimeItem .jeDate input{
  width: 100px;
  height: 30px;
}
.alarmSmTimeItem .delete{
  position: absolute;
  right: -25px;
  cursor: pointer;
}
#sendUserList .item{
  height: 30px;
  line-height: 30px;
  margin: 10px 10px 10px 0px;
  padding: 0px 5px;
  background-color: #508bbf;
  border-radius: 5px;
  color:#fff;
}
#sendUserList .delete{
  display: inline-block;
  margin: 0px 6px;
  cursor: pointer;
}
#sendUserList .delete .fa-trash-o{
  color: #c8d9e7;
}

/* .sidebarWrap{
  min-height: 300px;
} */
.sidebar{
  position: absolute;
  width: 23%;
  min-height: 300px;
  background: #fafafa;
  transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
}
.hidenBtn{
  position: absolute;
  top: 50%;
  right: -14px;
  z-index: 10;
  cursor: pointer;
  height: 88px;
  width: 14px;
  margin-top: -44px;
  background-image: url(../../images/icon-sidebarhid.png);
  background-repeat: no-repeat;
  background-position: -15px 0;
}
.sidebar .sideBarSearch{
  position: relative;
  padding: 10px 100px 10px 10px;
  background: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
}
.sidebar .sideBarSearch .sideBarSearchBtn {
  position: absolute;
  top: 10px;
  right: 10px;
}
.sidebar .cont{
  overflow: hidden;
}
.sidebarMain{
  position: relative;
  width: 75%;
  overflow: hidden;
  transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
}
.sidebar .sideBarTitle{
  padding: 10px;
  background-color: #587aa3;
}
.sidebar .sideBarTitle h2{
  margin: 0;
  font-size: 14px;
  color: #fff;
}
.sidebar .sideBarTitle i {
  color:#fff;
}
/* 
#eqMapTreeLeft{
  width: 23%
} */

.advanSearch{
  display: none;
  padding: 10px;
  background:#f4f4f4;
}
.advanSearch .checkbox-inline:first-child{
  margin-left: 10px;
}
.advanSearch .checkbox-inline+.checkbox-inline{
  margin-top: 10px;
}
.advanSearch .checkbox label{
  padding-left: 10px;
}

.siderBarCont{
  overflow:auto;
  min-height: 700px;
}

#showPageMateModal .pageLlist{
  height: 470px;
  background: #fbfbfb;
}
#showPageMateModal .pageLlist .title{
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #ddd;
}
#showPageMateModal .pageLlist .list{
  height: 440px;
  overflow-y: auto;
}
#showPageMateModal #mateListPic{
  height: 416px;
}
#showPageMateModal #matePicList {
  height: 416px;
  overflow-y: auto;
}
#showPageMateModal #matePicList .item{
  width: 220px;
  height: 250px;
  margin: 5px 20px;
}
#showPageMateModal #matePicList .item .info{
  width: 220px;
  height: 220px;
  background: #f9f9f9;
}
#showPageMateModal #matePicList .item .info audio{
  width: 100%;
  height: 30px;
}
#showPageMateModal #matePicList .item .name{
  height: 30px;
  line-height: 30px;
  padding: 0px 6px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
#showPageMateModal #showPageList{
  margin-top: 10px;
}
#showPageMateModal #showPageList li{
  padding: 6px;
  border-bottom: 1px solid #e9edee;
}
#showPageMateModal #showPageList li:hover{
  cursor: pointer;
  background: #173b67;
  color: #ffffff;
}
#showPageMateModal #showPageList li.active{
  background: #173b67;
  color: #ffffff;
}

.sourceModalWrap{
  padding: 0px 10px;
}

.sourceModalWrap .item{
  padding: 0px 8px;
  line-height: 25px;
}

.sourceModalWrap .title{
  height: 30px;
  line-height: 30px;
}

.sourceModalWrap .winWrap{
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #fbfbfb;
}

.sourceModalWrap .winWrap .itemIn{
  margin-bottom: 10px;
  color:#666;
}
.sourceModalWrap .winWrap .itemIn:last-child{
  margin-bottom: 0px;
}
.sourceModalWrap .radio{
  padding: 0px;
  margin: 0px 10px;
}
.sourceModalWrap .itemInTitle{
  /* margin-right: 20px; */
}
.sourceModalWrap .winwrapB{
  border-top: 1px solid #eee;
  padding-top: 10px;
}

.modal-tab .tab-pane{
  /*padding: 15px 40px 0px 40px;*/
}
.modal-tab .radio{
  margin-right: 10px;
}
.modal-tab .screenWin{
  min-width: 200px;
}
.modal-tab .footBtn{
  margin-top: 10px;
}
.modal-tab .fa-save, .modal-tab .fa-window-maximize, .modal-tab .fa-refresh{
  color:#fff;
}
.modal-tab .fa-close{
  color:#333;
}
.modal-tab .itemWin{
  padding: 2px 10px;
  margin: 6px 8px;
  border: 1px solid #c3d9e9;
  border-radius: 5px;
  background: #e3ecf3;
  cursor: pointer;
}
.modal-tab .itemWin.activeOn{
  border: 1px solid #930000;
  background: #c70000;
  color: #fff;
}
.modal-tab .itemWin.active{
  border: 1px solid #c3d9e9;
  background: #337ab7;
  color: #fff;
}
.modal-tab .scenarioNow{
  color: #c70000;
  font-weight: bold;
}
/*#sourceModal .modalNav, #sourceModal .modalBtn{
  width: 20%;
}*/
.modal-tab .modalNav ul{
  border-right: 1px solid #dddddd;
  border-bottom: 0px;
}
.modal-tab .modalNav ul>li>a{
  margin:0px;
}
.modal-tab .modalNav li{
  float: initial;
} 
.modal-tab .modalNav li.active a,.modalNav li.active a:hover,
.modal-tab .modalNav li.active a:focus{
  color:#ffffff;
  background: #337ab7;
  border:none;
  border-radius: 0px;
}
/*#sourceModal .modalContent,#sourceModal .tabPane{
  width: 80%;
}*/
.modal-tab .modalBtn {
  text-align: center;
  /*margin-top: 50px;*/
}
.modal-tab .modalBtn button{
  /*display: block;*/
  margin: 0px 5px;
}
.modal-tab .tab-content .tab-pane{
  display: none;
}
.modal-tab .tab-content .tab-pane.active{
  display: block;
}
.echart-date{
  text-align: center;
  margin: 30px 0px;
}
.echart-date span{
  color:#999999;
  padding: 0px 6px;
}
.strategyItem{

}
.strategyItem .strategyItemList{
  padding: 0px 10px;
  margin: 10px 0px;
  border: 1px solid #eee;
}
.strategyItem .strategyItemList h4{
  padding: 10px 0px;
}
.strategyItem .strategyItemList .itemWrap{
  /* padding: 10px 0px; */
}
.strategyItem .strategyItemList .item{
  position: relative;
  line-height: 34px;
  margin-bottom: 10px;
}
.strategyItem .strategyItemList .item .delete{
  position: absolute;
  top: 0px;
  right: 20px;
  cursor: pointer;
}
.strategyItem .strategyItemList .item .col-sm-8{
  padding-right: 40px;
}
.strategyItem .strategyItemList .control-label{
  height: 34px;
  line-height: 34px;
}

.subTitle .item-in:not(:first-child){
  margin-top:15px;
}
.subTitle .item-in select{
  width: 100%;
}
.subTitle .item-in .title{
  text-align: right;
  line-height: 34px;
}
.subTitle .item-in .set-color{
  position: absolute;
  top: 4px;
  right: 18px;
  cursor: pointer;
  display: block;
  padding: 3px;
  background: #fff;
  border-radius: 2px;
}
.subTitle .item-in .set-color i{
  color: #000;
}
.subTitle .item-in .color-panel{
  display: none;
  position: absolute;
  width: 100%;
  z-index: 1;
  background: #ffffff;
  border: 1px solid #ebebeb;
}

.borderSelect{
    width: 100%;
    height: 32px;
    position: relative;
    padding:6px 4px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}
.borderSelect .borderSelect_down{
    position: absolute;
    right: 4px;
    background: #ffffff;
    top: 0px;
    display: inline-block;
    width: 22px;
    height: 30px;
    text-align: center;
}
.borderSelect .borderSelect_row{
    display: none;
    position: absolute;
    left: 0px;
    top: 30px;
    z-index: 1;
    width: 100%;
    height: 96px;
    background: #ffffff;
    border:1px solid #dddddd;
    overflow-y:auto;
}

.subTitle .line{
  border-bottom: 1px solid #e8e8e8;
  padding: 10px 0px;
}
.subTitle .borderRed {
  border: 1px solid red;
}
.marker-info{
  position: absolute;
  width: 340px;
  height: 284px;
  left: -365px;
  bottom: 50px;
  border-radius: 10px;
  background: #ffffff;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.marker-info .title{
  width: 100%;
  min-height: 40px;
  padding: 10px 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color:#ffffff;
  background: #f08200;
}
.marker-info .info{
  padding: 15px;
}
.marker-info .info .item{
  margin-bottom: 10px;
}
.marker-info .info .name{
  margin-right: 10px;
}
.marker-info .info .msg{
  color:#999999;
}
.modal-form .item-icon{
  height: 34px;
  margin: 0px 6px;
  color: #999999;
  cursor: pointer;
  line-height: 34px;
}
.modal-form .input-disabled-color{
  color: #999999;
}
.modal-form .item-icon:hover{
  color: #f17100;
}
.modal-form select{
  width: 100%;
}
.custom-up-img{
  width: 200px;
  height: 200px;
  cursor: pointer;
}
.custom-up-btn i{
  color: #ffffff;
}
.custom-up-msg{
  margin: 10px 0px 0px 0px;
  color: #e2520d;
}
.layout-img{
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
}
.layout-black{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.6);
}
.layout-img .layout-close{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.layout-img .layout-close i{ 
  font-size: 24px;
  color: #ffffff;
}
.layout-img .layout-img-in{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 800px;
  max-height: 700px;
  text-align: center;
  transform: translate(-50%, -50%);
}
.layout-img .layout-img-in img{
  width: 100%;
}
.apn-params{
  overflow: hidden;
  background: #f9f9f9;
  text-align: center;
  padding: 4px;
}
.apn-params span{
  width: 100%;
  cursor: pointer;
}
.apn-params:hover{
  opacity: .8;
}
.apn-params.active #loading-more-pm{
  display: block;
}
.apn-params.active #hide-more-pm{
  display: none;
}
.apn-params #hide-more-pm{
  display: block;
}
.apn-params #loading-more-pm{
  display: none;
}
#more-apm-pm{
  display: none;
}


.boostrapTablepageNum {
  width: 40px;
  height: 25px;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  margin: 0 6px;
}
.boostrapTablegoPage {
    float: right;
    margin-left: 10px;
    height: 34px;
    line-height: 34px;
}
/*********************************************************   媒体查询   ****/
@media (max-width: 1200px) {

}
@media (max-width: 768px) {

  #right-msg .right-msg{
    position: inherit;
  }
  .table-list .tab-btn-item{
    margin-right: 8px;
    margin-bottom: 5px;
  }
}
@media (max-width: 480px) {

  /* 信息列表分页 */
  .table-list .page .dataTables_info{
    float:none;
    padding:0;
  }
  .table-list .page .pageNum{
    float:none;
  }
  /* 移动端按钮 */
  #material-modalMenu{
    display: inline-block;
  }
  #material-pcMenu{
    display: none;
  }
  .insideBtn{
    padding: 6px 10px;
    margin-bottom: 5px;
  }
  
  .tab-btn .jeDate {
    width: 267px;
  }
  .table-list .tab-btn-item{
    margin:5px 4px;
  }

  
  .sidebar{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .sidebarMain{
    width: 100%;
    margin-bottom: 50px;
  }
  .hidenBtn{
    display: none;
  }

}