.table-list .tab-btn .title{
    line-height: 34px;
}
.tabs-right>li>a{
	position: relative;
    background: #1c476d;
    color:#fff;
    overflow: inherit;
}
.tabs-right>li>a:hover{
	background: #f17100;
}
.tabs-right>li.active>a,.tabs-right>li.active>a:focus,.tabs-right>li.active>a:hover{
	border:none;
    background-color: #f17100;
    color: #fff;
}
.tabs-right>li.active>a:before{
	content:"";
	position: absolute;
    left: -2px;
    top: 10px;
	border-width:10px 0px 10px 10px;
    border-style:solid;
    border-color:transparent transparent transparent #fff;/*é€æ˜Ž ç° é€æ˜Ž é€æ˜Ž */
}
.eqContent{
    position: relative;
}
.eqLeft{
	width:75%;
}
.eqRight{
	position: relative;
	width:23%;
}
.rightEqListHidden {
    position: absolute;
    top: 50%;
    left: -14px;
    z-index: 2;
    cursor: pointer;
    height: 88px;
    width: 14px;
    margin-top: -44px;
    background-image: url(../../images/icon-rightMapListhid.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.eqFull{
	width: 100%;
}
.eqMenuZero{
	width: 0%;
}
.table-list .table-info-msgList{
    overflow-x: visible; 
}
@media (max-width: 1200px) {

}
@media (max-width: 768px) {

}
@media (max-width: 480px) {

}
