
body{
	/*background: #000000;*/
}
input{
	outline: none;
}
.clearfix:before,.clearfix:after{
  content: '';
  display: table;
  clear:both;
}
.left{
  float: left;
}
.right{
  float: right
}
.btn{
	width: 100%;
	padding: 10px;
	border:none;
	color: #ffffff;
	outline: none;
	cursor: pointer;
  border-radius: 5px;
}
.btn-orange{
  background: #ff8100;
}
.btn-blue{
  background: #0066ff;
}
.btn:hover{
	opacity: .8;
}
.login-wrap{
	height: 100%;
	width: 100%;
	background: url('../images/bg.jpg');
}
.login-form{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #ffffff;
	width: 400px;
	border-radius: 10px;
	box-shadow: 0px 0px 11px 0px #003c80;
}
.login-form .login-title{
	margin: 20px 0px;
	font-size: 30px;
	text-align: center;
}
.login-form .cont{
	margin: 0px 40px;
}
.login-form .cont .item{
	margin-bottom: 30px;
}
.login-form input{
	width: 100%;
	padding: 15px 10px;
	border: 1px solid #a4d3ff;
	border-radius: 5px;
}
/*****************************************************************************  自定义弹框  **/
.layerAuto{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  /*top: 50%; 
  left: 50%; */
  /*-webkit-transform: translate(-50%+0.9,-50%+0.9);
  -ms-transform: translate(-50%+0.9,-50%+0.9);
  -o-transform: translate(-50%+0.9,-50%+0.9);
  transform: translate(-50%+0.9,-50%+0.9);*/
  z-index: 1200;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
  display: flex;
  align-items: center;
  justify-content: center;
}
.layerAuto .info{
  position: relative;
  width: 200px;
  padding: 30px 50px;
  z-index: 9999;
  text-align: center;
  background: #fff;
  border-radius: 5px;
}
.layerAuto .close{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color:#999999;
  border-radius: 10px;
  cursor: pointer;
}
.layerAuto .cont{
  font-size: 16px;
}
.backdrop{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1119;
  background-color: #000;
}
.backdrop.in {
  opacity: 0.5 !important;
}
.fadeIn{
  -webkit-animation-name: fadeIn; /*动画名称*/
  -webkit-animation-duration: .2s; /*动画持续时间*/
  -webkit-animation-iteration-count: 1; /*动画次数*/
  -webkit-animation-delay: 0s; /*延迟时间*/
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; /*初始状态 透明度为0*/
  }
  50% {
    opacity: 0; /*中间状态 透明度为0*/
  }
}
/*****************************************************************************  自定义弹框  **/


.loadWrap .loader-in{
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%,-50%);
}
.loadWrap .text{
  font-size: 18px;
  padding:4px 0px;
  color: rgba(255, 98, 0, 1);
  margin-top: -35px;
}
.loadWrap .outer{
  border: 7px solid rgba(255, 98, 0, 1);
  opacity: .9;
  border-right-color: transparent;
  border-left-color: transparent;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 35px rgba(255, 98, 0, 0.9);
  -moz-box-shadow: 0 0 35px rgba(255, 98, 0, 0.9);
  box-shadow: 0 0 35px rgba(255, 98, 0, 0.9);
  -webkit-animation: spin-pulse 1s linear infinite normal;
  -moz-animation: spin-pulse 1s linear infinite normal;
  -ms-animation: spin-pulse 1s linear infinite normal;
  animation: spin-pulse 1s linear infinite normal;
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0;
}
.loadWrap .inner{
  border: 5px solid rgba(255, 98, 0, 1);
  opacity: .9;
  border-left-color: transparent;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 15px rgba(255, 98, 0, 0.9);
  -moz-box-shadow: 0 0 15px rgba(255, 98, 0, 0.9);
  box-shadow: 0 0 15px rgba(255, 98, 0, 0.9);
  width: 40px;
  height: 40px;
  position: relative;
  top: -55px;
  margin: 0 auto;
  -webkit-animation: spin-right 1s linear infinite normal;
  -moz-animation: spin-right 1s linear infinite normal;
  -ms-animation: spin-right 1s linear infinite normal;
  animation: spin-right 1s linear infinite normal;
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0;
}
@keyframes spin-pulse {
  from {
    transform: rotate(160deg);
    opacity: 0;
    box-shadow: 0 0 1px rgba(0, 61, 76, 0.9);
  }
  50% {
    transform: rotate(145deg);
    opacity: 1;
  }
  to {
    transform: rotate(-320deg);
    opacity: 0;
  }
}
@-moz-keyframes spin-pulse {
  from {
    -moz-transform: rotate(160deg);
    opacity: 0;
    box-shadow: 0 0 1px rgba(0, 61, 76, 0.9);
  }
  50% {
    -moz-transform: rotate(145deg);
    opacity: 1;
  }
  to {
    -moz-transform: rotate(-320deg);
    opacity: 0;
  }
}
@-webkit-keyframes spin-pulse {
  from {
    -webkit-transform: rotate(160deg);
    opacity: 0;
    box-shadow: 0 0 1px rgba(0, 61, 76, 0.9);
  }
  50% {
    -webkit-transform: rotate(145deg);
    opacity: 1;
  }
  to {
    -webkit-transform: rotate(-320deg);
    opacity: 0;
  }
}
@keyframes spin-right {
  from {
    transform: rotate(0deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(180deg);
    opacity: 1.0;
  }
  to {
    transform: rotate(360deg);
    opacity: 0.2;
  }
}
@-moz-keyframes spin-right {
  from {
    -moz-transform: rotate(0deg);
    opacity: 0.2;
  }
  50% {
    -moz-transform: rotate(180deg);
    opacity: 1.0;
  }
  to {
    -moz-transform: rotate(360deg);
    opacity: 0.2;
  }
}
@-webkit-keyframes spin-right {
  from {
    -webkit-transform: rotate(0deg);
    opacity: 0.2;
  }
  50% {
    -webkit-transform: rotate(180deg);
    opacity: 1.0;
  }
  to {
    -webkit-transform: rotate(360deg);
    opacity: 0.2;
  }
}

.header{
  padding: 20px 10px;
  line-height: 30px;
}
.header .logo{
  font-size: 18px;
  color: #ffffff;
}
.header .select{
  padding: 8px 5px;
  border: none;
  border-radius: 10px;
}

/* 基础设置 页面 */
.configure-form-btn {
  text-align: center;
}
.configure-form-btn button.btn{
  width: 45%;
  display: inline-block;
}