<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.dao.LightingIntelMapper">
  <resultMap id="BaseResultMap" type="com.web.entity.LightingIntel">
    <id column="id" property="id" />
    <result column="type" property="type" />
    <result column="name" property="name" />
    <result column="ipdress" property="ipdress" />
    <result column="voltage" property="voltage" />
    <result column="current" property="current" />
    <result column="power" property="power" />
    <result column="brand" property="brand" />
    <result column="manufacturer" property="manufacturer" />
    <result column="purchasedate" property="purchasedate" />
    <result column="launchdate" property="launchdate" />
    <result column="warrantyperiod" property="warrantyperiod" />
    <result column="position" property="position" />
    <result column="inchargeof" property="inchargeof" />
    <result column="teamid" property="teamid" />
    <result column="description" property="description" />
  </resultMap>
  

  
  <sql id="Base_Column_List">
    id, type, name, ipdress, voltage, current, power, brand, manufacturer, purchasedate, launchdate, warrantyperiod, position, inchargeof, description
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from lighting_Intel where id = #{id}
  </select>
  
  <select id="countLightingIntelNum" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select count(id) from lighting_Intel where inchargeof=#{inchargeof}
  </select>
  
  <select id="selectAllByInchargeof" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from lighting_Intel where inchargeof=#{inchargeof}
  </select>
  
  <select id="selectAllByTeamId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from lighting_Intel where teamid=#{teamid} 
  </select>
  

  <select id="countLightingIntelstatus" parameterType="java.util.Map" resultType="java.lang.Integer">
  		select count(id) from (select lighting_intel_record.id from lighting_intel_record inner join lighting_intel
  		 on lighting_intel_record.lightid=lighting_intel.id where inchargeof=#{inchargeof} and intelstatus=#{intelstatus} 
  		 ORDER BY lighting_intel_record.id desc limit 0,#{dataLength}) ii
  </select>
  
  
  <select id="countLightingStatus" parameterType="java.util.Map" resultType="java.lang.Integer">
  		select count(id) from (select lighting_intel_record.id from lighting_intel_record inner join lighting_intel
  		 on lighting_intel_record.lightid=lighting_intel.id where inchargeof=#{inchargeof} and status=#{status} 
  		 ORDER BY lighting_intel_record.id desc limit 0,#{dataLength}) ii
  </select>
  
  
  <select id="countLightingEnergy" parameterType="java.util.Map" resultType="java.lang.Integer">
  		select sum(energyconsum) from (select energyconsum from lighting_intel_record inner join lighting_intel
  		 on lighting_intel_record.lightid=lighting_intel.id where inchargeof=#{inchargeof} ORDER BY lighting_intel_record.id desc limit #{teambegin},#{teamlength}) ii
  </select>
  
  
  <select id="countLightingEnergyByTeam" parameterType="java.util.Map" resultType="java.lang.Integer">
  		select sum(energyconsum) from (select energyconsum from lighting_intel_record inner join lighting_intel
  		 on lighting_intel_record.lightid=lighting_intel.id where teamid=#{teamid} ORDER BY lighting_intel_record.id desc limit #{teambegin},#{teamlength}) ii
  </select>
    
  
  <select id="selectLightingIntelByPage" parameterType="com.web.entity.LightingIntel" resultMap="BaseResultMap">
    select * from lighting_Intel where 1=1
      <if test="type != null">
        and type=#{type}
      </if>
      <if test="name != null">
        and name like #{name}
      </if>
      <if test="ipdress != null">
        and ipdress=#{ipdress}
      </if>
      <if test="brand != null">
        and brand=#{brand}
      </if>
      <if test="manufacturer != null">
        and manufacturer=#{manufacturer}
      </if>
      <if test="warrantyperiod != null">
        and warrantyperiod=#{warrantyperiod}
      </if>
      <if test="inchargeof != null">
        and inchargeof=#{inchargeof}
      </if>
      <if test="teamid != null">
        and teamid=#{teamid}
      </if>
      <if test="launchBegin != null">
        and launchdate &gt; launchBegin
      </if>
      <if test="launchEnd != null">
        and launchdate &lt; launchEnd
      </if>
      limit #{firstResult},#{pageSize}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from lighting_Intel where id = #{id}
  </delete>
  
  <insert id="insert" parameterType="com.web.entity.LightingIntel">
    insert into lighting_Intel (type, name, ipdress, voltage, current, power, brand, manufacturer, purchasedate, launchdate, warrantyperiod, position, inchargeof, teamid, description)
    values (#{type}, #{name}, #{ipdress}, #{voltage}, #{current}, #{power}, #{brand}, #{manufacturer}, #{purchasedate},#{launchdate}, #{warrantyperiod}, #{position}, #{inchargeof}, #{teamid}, #{description})
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.web.entity.LightingIntel">
    update lighting_Intel
    <set>
      <if test="type != null">
        type = #{type},
      </if>
      <if test="name != null">
        name = #{name},
      </if>
      <if test="ipdress != null">
        ipdress = #{ipdress},
      </if>
      <if test="voltage != null">
       voltage = #{voltage},
      </if>
      <if test="current != null">
        current = #{current},
      </if>
      <if test="power != null">
        power = #{power},
      </if>
      <if test="brand != null">
        brand = #{brand},
      </if>
      <if test="manufacturer != null">
        manufacturer = #{manufacturer},
      </if>
      <if test="purchasedate != null">
        purchasedate = #{purchasedate},
      </if>
      <if test="launchdate != null">
        launchdate = #{launchdate},
      </if>
      <if test="warrantyperiod != null">
        warrantyperiod = #{warrantyperiod},
      </if>
      <if test="position != null">
        position = #{position},
      </if>
      <if test="inchargeof != null">
        inchargeof = #{inchargeof},
      </if>
      <if test="teamid != null">
        teamid = #{teamid},
      </if>
      <if test="description != null">
        description = #{description},
      </if>
    </set>
    where id = #{id}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.web.entity.LightingIntel">
    update lighting_Intel set type = #{type},
      name = #{name},
      ipdress = #{ipdress},
      voltage = #{voltage},
      current = #{current},
      power = #{power},
      brand = #{brand},
      manufacturer = #{manufacturer},
      purchasedate = #{purchasedate},
      launchdate = #{launchdate},
      warrantyperiod = #{warrantyperiod},
      position = #{position},
      inchargeof = #{inchargeof},
      teamid = #{teamid},
      description = #{description}
    where id = #{id}
  </update>
  
  
  
 <update id="updateByTeamid" parameterType="java.lang.Integer">
    update lighting_Intel set teamid = #{teamid} where teamid = #{teamid}
  </update>
  
  
 
  
</mapper>