<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.dao.ScreenVideoMapper">
  <resultMap id="BaseResultMap" type="com.web.entity.ScreenVideo">
    <id column="id" property="id" />
    <result column="number" property="number" />
    <result column="name" property="name" />
    <result column="serverurl" property="serverurl" />
    <result column="createdate" property="createdate" />
    <result column="updatedate" property="updatedate" />
    <result column="iconurl" property="iconurl" />
  </resultMap>
  

  
  <sql id="Base_Column_List">
    id, number, name, serverurl, createdate, updatedate, iconurl
  </sql>
  
    
  
  <select id="selectScreenVideoByPage" parameterType="com.web.entity.ScreenVideo" resultMap="BaseResultMap">
    select * from screenvideo limit #{firstResult},#{pageSize}
  </select>
  

  
  <insert id="insert" parameterType="com.web.entity.ScreenVideo">
    insert into screenvideo (number, name, serverurl, createdate, updatedate, iconurl) values (#{number}, #{name}, #{serverurl}, #{createdate}, #{updatedate}, #{iconurl})
  </insert>
  
 
  
  
 
  
</mapper>