html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

html {
	font-size: 12px;
	font-size: 62.5%;
	/* 10÷16=62.5% */
}

@media only screen and (min-width:321px) {
	html {
		font-size: 62.5% !important
	}
}

@media only screen and (min-width:361px) {
	html {
		font-size: 70.31% !important
	}
}

@media only screen and (min-width:376px) {
	html {
		font-size: 73.24% !important;
	}
}

@media only screen and (min-width:481px) {
	html {
		font-size: 94% !important;
		/* 15.04÷16=94% */
	}
}

@media only screen and (min-width:561px) {
	html {
		font-size: 109% !important;
		/* 17.44÷16=109% */
	}
}

@media only screen and (min-width:641px) {
	html {
		font-size: 125% !important;
		/* 20÷16=125% */
	}
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400
}

a:active,
a:hover {
	outline: 0
}

img {
	border: none
}

li {
	list-style: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

h4,
h5,
h6 {
	font-size: 100%
}

button,
input,
optgroup,
option,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	outline: 0
}

a {
	color: #333;
	text-decoration: none
}

a:hover {
	color: #777
}

i {
	font-style: normal;
}

.clear {
	overflow: hidden;
	clear: both;
}

.container {
	width: 100%;
	height: 100%;
	min-width: 1280px;
}

.bodys {
	background: url(../img/bg.jpg) repeat-y top left;
	background-size: inherit;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

/* .body_box .el-row{height: 100%;} */
.body_box .el-row .el-col {
	height: 100%;
	margin: 0 auto;
}

.nav_top {
	width: 100%;
	margin: 2px auto 0;
	overflow: hidden;
	cursor: default;
	z-index: 1;
	height: 91px;
	background: url(../img/titleBlock.png) no-repeat top left;
	background-size: 100% 100%;
}

.body_box {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0 auto;
	padding: 0 0;
	box-sizing: border-box;
	line-height: 24px;
	/* margin-bottom: 10px; */
	font: 14px Helvetica Neue, Helvetica, PingFang SC, Tahoma, Arial, sans-seri
}
.nav_top{
position: absolute;top: 0;left: 0;
}
.top_left {
	height: 41px;
	margin: 20px 0;
	position: relative;
	z-index: 10;
}

.top_left a.logo {
	width: 34px;
	height: 34px;
	background: url(../img/logo.png) no-repeat top left;
	display: block;
	position: absolute;
	bottom: 3px;
	left: 21px;
	z-index: 4;
}
.top_left a.logo:hover{
	transform: scale(1.3);background: url(../img/logo3.png) no-repeat top left;
	
}
.top_left .logo_title {
	margin-top: 61px;
	color: #FFFFFF;
	font-size: 22x;
	font-family: MicrosoftYaHei;
	position: absolute;
	bottom: 7px;
	left: 50px;
}

.top_main {
	/* background: url(../img/titleBlock.png) no-repeat top left;
	background-size: 100% 100%; */
	height: 81px;
	overflow: hidden;
	z-index: 10;
}

.top_main h1 {
	color: #FFFFFF;
	text-align: center;
	font-size: 1.6rem;
	font-weight: bold;
	font-family: MicrosoftYaHei-Bold;
	height: 81px;
	line-height: 81px;z-index: 20;
	margin: 0 auto;
	letter-spacing: 8px;
}
.top_main h1 i{
	font-size: 10px; color: rgb(255, 255, 255); display: inline-block; position: absolute; top: -9px; padding-left: 5px;letter-spacing:0px;
}
.top_right {
	height: 41px;
	margin: 20px 0;
	position: relative;z-index: 10;
}

.top_right span {
	color: #FFFFFF;
	font-size: 18px;
	font-family: MicrosoftYaHei;
	display: block;
	line-height: 41px;
	margin-right: 5px;text-align: right;padding-right: 20px;
}

.top_right span.data_s {
	font-size: 18px;
	margin-right: 0;
}

.grid-content ul {
	padding: 0rem;
	margin: 0 auto;
	width: 100%;
}

.grid-content ul li {
	float: left;
}

.grid-content ul li.left_frame {
	width: 100%;
	height: 32%;
	margin-bottom: 10px;
}

.grid-content ul li .pie_box {
	padding: 15px;
	height: 100%;
	position: relative;
}

li.left_frame,li.right_frame {
	background: url(../img/bgiframe.png) no-repeat left top;
	background-size: 100% 100%;
}



.pie_box .pie_nav {
	height: 1.25rem;
	line-height: 1.25rem;
}

span.nav_title{
	font-size: 0.7rem;
	color: #3CD8FF;font-weight: 600;
	
}

p.nav_title{
	height:1.25rem;line-height: 1.25rem;font-size: 0.7rem;color: #3CD8FF;font-weight: 600;display: block;margin-bottom: 10px;
}
.pie_item ul.overview{
	width: 100%;margin: 5px 0;
}
.pie_item ul.overview li{
	width: 33%;float: left;padding:4px 3px;
}
.middle_bottom{
	position: absolute;bottom: 0;left: 21%;width: 58%;margin-bottom: 10px;background: url(../img/bottom_frame.png) no-repeat top left;background-size: 100% 100%;
}
.middle_bottom .main_bottom{padding:0.9375rem;}
ul.overview li .li_left{
	width: 30px;height: 30px;float: left;background:url(../img/topbg.png) no-repeat top left;background-size: 100% 100%;margin-right:3px ;
}
ul.overview li .li_left .li_img{
	width: 20px;height: 20px;margin: 5px;
}
ul.overview li .li_right{
	float: left;margin-top: -10px;
}
ul.overview li .li_right span{
	font-weight: 600;color:#00CCFF;font-size: 18px;
}
ul.overview li .li_right p{
	color:#FFFFFF;font-size: 10px;
}
.pie_item ul.environment{
	width: 100%;margin: 5px auto;
}
.pie_item ul.environment li{
	background: url(../img/ebg.png) no-repeat left top;
	width: 30%;float: left;position: relative;margin: 1.5%;background-size: 100% 100%;
}
.pie_item ul.environment li .itemLi{
	position: absolute;top: 0;left: 0;padding: 5px 10px;
}
.pie_item ul.environment li .itemLi p{
	font-size: 16px;color: #00CCFF;font-weight: 600;
}
.pie_item ul.environment li .itemLi i{
	font-size: 10px;color: #FFFFFF;
}
.pie_item ul.environment li .liImg{
	position: absolute;bottom: 0;right: 0;width: 28px;height: 28px;
}
.pie_box .pie_nav .change_item{
	display: inline-block;float: right;width: 70px;
}
.pie_box .pie_nav .change_item .el-select .el-input .el-select__caret{
	color: #3CD8FF;
}
.pie_box .pie_nav .change_item .el-select .el-input{
	font-size: 12px;
}
.pie_box .pie_nav .change_item .el-select .el-input__inner{
	padding: 5px 25px 5px 6px;height: 25px;border: 1px solid #3CD8FF;border-radius: 0px;background: none;color: #3CD8FF;
}	
.pie_box .pie_nav .change_item .el-select .el-input__suffix{right: 0px;top: 8px;}
.el-scrollbar__wrap{
	margin-right: -16px!important;
}
.el-select-dropdown{background: rgba(0, 0, 0, 0.58);border: 1px solid #3CD8FF;border-radius: 0px;}
.el-select-dropdown__item{color:#FFFFFF}
.el-popper[x-placement^=bottom] .popper__arrow{
	display: none;
}
.el-select-dropdown__item.hover, .el-select-dropdown__item:hover{
	    background-color: #13435c;
}
.pie_box .pie_nav .change_item .el-select .el-input--suffix.is-focus .el-input__suffix{
	top: -6px;
	}
.pie_box .pie_nav .change_item .el-select{height: 15px;line-height:15px}
.pie_box .pie_item.video_box{
	margin-top: 10px;
}
.pie_box .pie_item {
	padding: 0;
	margin: 0;
	height: 85%;
}
.pie_item.full .list_item{height:50%;width: 100%;padding: 10px 0 0 0;}
.pie_item.full .list_item>div{float: left;height: 100%;width:100%}
.pie_item.full .list_item .list_left{
	width: 20%;
}
.pie_item.full .list_item .list_left .border_box{
	border: 1px dashed #3CD8FF;padding: 8px;border-radius: 4px ;width: 2.375rem;height: 2.375rem;
}
.pie_item.full .list_item .list_left img{
	display: block;margin: 0 auto;width: 100%;height: 100%;
}
.pie_item.full .list_item .list_left span{
	diaplay:block;text-align: center;color: #3CD8FF;font-size: 12px;
	}
.pie_item.full .p_bottom{
	background:url(../img/p_bottom.png) no-repeat top left;background-size: 100% 100%;width: 100%;height: 1px;
}
.pie_item.full .list_item .list_right{
	padding: 0 10px;width:74%;
}
.pie_item.full .list_item .list_right span{
	color: #FFFFFF;font-size: 12px;padding-bottom: 5px;display: block;
}
.pie_item.full .list_item .list_right .right_top .right_item{
	width: 50%;float: left;
	}
.pie_item.full .list_item .list_right .right_top .team_right{
	text-align: right;color: #00CCFF;
}
.pie_item.full .list_item .list_right .right_top .team_right span{
	color: #00CCFF;
}
.pie_item.full .list_item .list_right .right_top .right_item b{
	color: #3CD8FF;display: block;font-size: 20px;
}
.pie_item.full .list_item .list_right .right_top .right_item b i{
	color: #FFFFFF!important;font-size: 12px!important;font-weight: normal;padding-left: 5px;
}
.pie_item.full .list_item .list_right .right_bottom .percent{text-align: right;color: #3CD8FF;font-size: 12px;}
.grid-content ul li.right_frame {
	width: 100%;
	height: 33%;
	margin-bottom: 10px;
}

.grid-content ul li.right_frame h4 {
	margin: 0;
	padding-right: 3.2rem;
	padding-top: 0.2rem;
	color: #3CD8FF;
	font-size: 0.7rem;
	height: 1.3rem;
	line-height: 1.3rem;
	text-align: right;
}
a.more{display: inline-block;float: right;font-size: 12px;color: #3CD8FF;}
.pie_box .pie_pop{
	position: absolute;
	    top: 15%;
	    left: 6%;
	    flex-direction: column;
	    background: url(../img/box.png) no-repeat top left;
	    background-clip: border-box;
	    background-size: 100% 100%;
	    border-width: 0;
	    width: 88%;
	    height: 70%;
		display: none;
}
.pie_pop .el-form-item .el-form-item__content{
	margin-left: 0!important;line-height: 20px!important;font-size: 12px!important;
}
.pie_pop .el-form-item .el-form-item__content .el-checkbox{
	    margin-right: 10px!important;
}
.pie_pop .el-checkbox__label{
	padding-left: 5px!important;color: #fff;font-size: 12px!important;
}
.pie_pop .el-form{
	    padding: 18px 15px;
}
.btnBox{text-align: center;}
.btnBox .abolish.el-button{
	background: none;border: 1px solid #3D99FE;color: #3D99FE;
}
.pie_pop .el-checkbox__inner::after{top: 0;}
.pie_pop .el-checkbox__inner{
	width: 12px;height: 12px;
}
.pie_pop .el-form .el-form-item{
	margin-bottom:5px
}
.ul_box .ul_item {
	width: 50%;
	float: left;
}
.pie_box .pie_img{
	width: 100%;padding-top:10px;height: 100%;
}

.pie_box .pie_img .swiper-container{
	width: 100%;height: 100%;
}
.pie_box .pie_img .swiper-container .swiper-slide{
	height: 76%;position: relative;
}
.pie_box .pie_img .swiper-container .swiper-slide span{
	position: absolute;color: #FFFFFF;left: 0;bottom: 0;font-size: 12px;
}
.pie_box .pie_img .banner_img{
	width: 100%;height: 100%;
}
.pie_img .swiper-button-next,.pie_img .swiper-button-prev{
	width: 20px;
	height: 36px;top: 43%;
}
.pie_img .swiper-button-next{
	border-radius: 0 3px 3px 0;right: 0;
}
.pie_img .swiper-button-prev{
	border-radius:3px 0 0 3px;
}
.pie_img .swiper-button-next:after,.pie_img .swiper-container-rtl .swiper-button-prev:after{
	    font-size: 26px;
}
.pie_img .swiper-button-prev:after,.pie_img .swiper-container-rtl .swiper-button-next:after{
	font-size: 26px;
}
.pie_img .swiper-container .swiper-slide .img_num{
	color: #FFFFFF;
	    height: 15px;
	    line-height: 15px;
	    text-align: center;
	    padding: 5px 0;
}
.ul_box .ul_item.left h4 {
	text-align: right;
	padding-left: 4.5rem;
}

.ul_box .ul_item.left ul li {}

.ul_box .ul_item.left h4 i {
	background: url(../img/Modified.png);
	background-size: 100% 100%;
	width: 38px;
	height: 12px;
	display: inline-block;
}

.ul_box .ul_item.right h4 i {
	background: url(../img/Modified1.png);
	background-size: 100% 100%;
	width: 38px;
	height: 12px;
	display: inline-block;
}

.ul_box .ul_item.right h4 {
	text-align: right;
	padding-right: 4.5rem;
}

.ul_box .ul_item.right ul {
	margin: 5px 0;
	padding-left: 1rem;
	text-align: left;
}

.ul_box .ul_item.left ul {
	margin: 5px 0;
	padding-right: 1rem;
	text-align: right;
}

.ul_box .ul_item h4 {
	color: #FFFFFF;
	font-size: 1rem;
	font-weight: bold;
	margin: 5px 0;
	word-break: break-word;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ul_box .ul_item .left_top h4 {
	text-align: left;
}

.ul_box .ul_item .right_top h4 {
	text-align: right;
}

.ul_box .ul_item ul li {
	color: #FFFFFF;
	font-size: 0.75rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

}

.font-red {
	color: #ff405a;
	font-weight: 600;
	font-size: 1rem;
}

.font_blue {
	color: #3d9afd;
	font-weight: 600;
	font-size: 1rem;
}

.main_middle {
	position: relative;
	margin:4px 5px 10px 5px;
	
	/* background: url(../img/map.png) no-repeat top left;
	background-size: 100%; */
}
.dimension{
	  position: absolute;
	  top: 6.75rem;
	  right: 24%;
	  z-index:5;
}
.dimension span{
	display: inline-block;cursor: pointer;background: #11447C;color: #75B5FC;float: left;padding: 5px 8px;font-size: 14px;
}
.dimension span.shapes{
	border-radius:2px 0 0 2px;
}
.dimension span.modeling{
	border-radius: 0 2px 2px 0;
}

.inChecked{
	color: #FFFFFF!important;background: #3D74FF!important;
}

.img_btn{
	position: absolute;
	   cursor: pointer;
	    top: 6.25rem;
	    left: 22%;
	    z-index: 12;
}
.img_btn .screen{
	width: 1.5625rem;height: 1.5625rem;
}
.input-card{
	width: 40%;
	height: 25%;
	top: 200px;
	left: 30%;
	position: absolute;z-index: 20;
}
.input-card .cancel {
	padding: 0.75rem 1rem 0.2rem;
	float: right;
	height: 100%;
}

.input-card .check-box {
	padding: 0 1.8rem;
}

.input-card .el-form-item__content {
	margin-left: 0px !important;
}

.input-card .el-checkbox__label {
	color: #FFFFFF;
	font-size: 14px;
}

.input-card .el-form-item {
	margin-bottom: 10px !important;
}

.input-card .el-form-item:last-child .el-form-item__content {
	text-align: center;
}

.main_bottom .bottom_box {
	width: 100%;overflow: auto;
}

.el-table,
.el-table__expanded-cell {
	background-color: transparent;
	border: 0;
	color: #FFFFFF;
 }

.el-table th,
.el-table tr {
	background-color: transparent;
	border: 0;
	color: #FFFFFF;
	font-size: 12px;
}

.main_bottom .el-table .cell {
	font-size: 12px;
}

.main_bottom .el-table td,
.main_bottom .el-table th.is-leaf {
	border-bottom: 0;
}

.main_bottom .el-table td,.main_bottom .el-table th {
	padding: 5px 0;
}

/* .main_bottom .el-table th {
	padding: 0;
} */

.main_bottom .el-table::before {
	height: 0;
}

.el-table .row_td {
	background: rgba(255, 255, 255, 0.22);
}
.el-table .el-table__header-wrapper{
	background: rgba(255, 255, 255, 0.22);padding-top: 1px;
}	

/* 图片 */
.emergency {
	width: 100%;
	margin: 0 auto;
	padding: 4px 0px;
}

.li_imgs {
	width: 50%;
	display: inline-block;
	position: relative;
	padding: 10px;
	height: 5.5rem;
}

.li_imgs .el-image {
	width: 100%;
}

.emergency .li_imgs span {
	color: #FFFFFF;
	position: absolute;
	left: 14px;
	bottom: 0px;
}

.emergency .li_imgs i {
	color: #FFFFFF;
	position: absolute;
	right: 14px;
	top: 14px;
}
.pie_item .Titem{
	height: 100%;width: 100%;
	}
.Titem .hotBox {
	width: 100%;
	    margin: 0 auto;
	    height: 85%;
	}

/* 图表 */
.Titem .hot_ul {
	text-align: right;
	padding: 5px 0;
	
}

.Titem .hot_ul li i {
	width: 12px;
	display: inline-block;
	height: 12px;
	border-radius: 100%;
	margin: 0 3px;
	background: #FFFFFF;

}

.Titem .hot_ul li.hot_one.f1 {
	color: #FF7E3D;
}

.Titem .hot_ul li.hot_one.f1 i {
	background: #FF7E3D;
}

.Titem .hot_ul li.hot_two.f2 {
	color: #C13DFF;
}

.Titem .hot_ul li.hot_two.f2 i {
	background: #C13DFF;
}

.Titem .hot_ul li.hot_three.f3 {
	color: #c23531;
}

.Titem .hot_ul li.hot_three.f3 i {
	background: #c23531;
}

.Titem .hot_ul li.hot_four.f4 {
	color: #61a0a8;
}

.Titem .hot_ul li.hot_four.f4 i {
	background: #61a0a8;
}

.Titem .hot_ul li {
	display: inline-block;
	color: #FFFFFF;
	cursor: pointer;
	float: none;
}

#my-player {
	width: 100%;
	height: 100%;
}
#allMap{
	width: 100%;height: 100%;position: relative;transition: transform .5s ease-out;
}

.content_left{
	width: 20%;top: 91px;left: 0px;position: absolute;padding-left: 5px;
}
.content_right{
	width: 20%;top: 91px;right: 0px;position: absolute;padding-right: 5px;
}

ul.echartBottom{
	width: 100%;
	
}

ul.echartBottom li{width: 45%;display: inline-block;color: #FFFFFF;font-size:0.625rem;border:1px solid #1A5E6F;background:rgb(13 101 123 / 30%);margin: 10px 2% 0;padding: 2px 5px;}
ul.echartBottom li span{text-align: left;display: inline-block;overflow:hidden;width: 50%;
white-space:nowrap; 
    text-overflow:ellipsis;}
ul.echartBottom li i{text-align: right;	display: inline-block;color: #00CCFF;float: right;overflow:hidden;width: 50%;
white-space:nowrap; 
    text-overflow:ellipsis;}
.video_right .vide_item{
	    border: 1px solid #1A5E6F;
	    background: rgb(13 101 123 / 30%);
		width: 90%;
		margin-left: 10%;height: 46%;
}
.video_right .vide_item:first-child{
	margin-bottom: 8%;
	}
.video_box .monitoring,.video_box .video_right{float: left;}
.video_right .vide_item span{
	color: #00CCFF;font-size: 16px;display: block;font-weight: 600;text-align: center;padding: 0.3125rem;
}
.video_right .vide_item i{
	color: #FFFFFF;font-size: 14px;display: block;text-align: center;
}
.preview .el-row span{
	color: #00CCFF;font-size: 12px;
}
.preview .el-row .el-icon-time{
	font-size: 12px;color:#00CCFF;margin-right: 0.25rem;
}
.el-carousel__item h3 {
    color: #FFFFFF;
    font-size: 14px;
    margin: 0;text-align: center;
  }
.pie_item .pie_img .el-carousel{
	 height: 100%;
 } 
 .el-carousel__mask{background:none;}
 .btn_on{position: absolute;top: 91px;right: 20%;cursor: pointer;}
 .window_box{
	 width: 100%;height: 100%;background: url(../img/windox.png) no-repeat top left;position: absolute;top:0;left:0;
 }
 .amap-info-content{
	  width: 355px;height: 182px;background: none;
 }
 .bottom-center .amap-info-sharp{
	 display: none;
 }
.amap-info-content .el-form .form_top{window_middle
	 width: 100%;
 }
 .amap-info-close{font-size: 24px;
    color: #fff;
    top: 12px;}
 .window_top{width: 100%;}
 .window_top h4{color: #FFFFFF;display: inline-block;font-size: 18px;}
 .window_top .fromRight{
	  display: inline-block;margin-left: 0.625rem;
  }
.window_top span{color: #FFFFFF;}
.window_middle{
	width: 100%;padding: 10px 0;
}
.window_middle .middle_item{
	display: inline-block;width: 32%;
}
.window_middle .middle_item span{display: block;color:#00CCFF;font-size: 18px;text-align: center;font-weight: 600;}
.window_middle .middle_item p{display: block;color:#FFFFFF;font-size: 16px;text-align: center;}
.window_bottom{width: 100%;}
.window_bottom span{
	color: #FFFFFF;display: inline-block;font-size: 16px;
}
.window_bottom span:first-child{width: 26%;}
.window_bottom span:last-child{width: 15%;}
.window_bottom input{width: 52%;display: inline-block;margin-right: 10px;}
.off_box{
	width: 3%;
	    top: 91px;
	    
	    position: absolute;
	   
}
.right_on{right:-10%; padding-right: 5px;}
.left_on{left: -10%; padding-left: 5px;}
.off_box .main_ul1{
	width: 100%;padding: 0;margin: 0;
}
.off_box .main_ul1 li{
	width: 100%;padding: 5px;background:url(../img/lr.png) no-repeat top left;background-size: 100% 100%;margin-bottom: 10px;
}
.off_box .main_ul1 li i ,.bottom_on i{width: 38px;height: 38px;display: inline-block;}
.off_box .main_ul1 li i img,.bottom_on i img{width: 38px;height: 38px;}
.off_box .main_ul1 li span{color: #FFFFFF;font-size: 16px;text-align: center;display: block;line-height: 1.6rem;}
.bottom_on{
	width: 92%; position: absolute;bottom: -10%;left: 4%;
	height: 48px;background:url(../img/ck.png) no-repeat top left;background-size: 100% 100%;margin-bottom: 10px; padding: 5px 20px;
}
.bottom_on ul{
	width: 92%;display: inline-block;margin: 0;padding: 0;height: 38px;float: right;
}
.bottom_on ul li{width: 13%;display: inline-block;text-align: center;line-height: 38px;color:#FFFFFF;font-size: 16px;}
.el-tag{
	border-radius: 2px!important;
}
.amap-logo{
display: none!important;
}
.amap-copyright{
opacity:0;
}