<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.listen.dao.PlayTaskBasicsLogDao"> 
     
     <!-- 取出所有 (升序)-->
     <select id="getPlayTaskBasicsLog" resultType="com.listen.model.sdkservice.PlayTaskBasicsLog"> 
          SELECT * FROM play_task_basics_log WHERE 1=1 ORDER BY create_date ASC
     </select>
     
     <!-- 取出所有 (降序) -->
     <select id="getPlayTaskBasicsLog2" resultType="com.listen.model.sdkservice.PlayTaskBasicsLog"> 
          SELECT * FROM play_task_basics_log WHERE 1=1 
          <if test="devCode!='' and devCode!=null">
		    and dev_code like CONCAT(#{devCode},'%')
	      </if>
          ORDER BY task_log_id DESC
     </select>
     
</mapper>