<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.listen.dao.TmlDeviceBasicDao"> 

     <select id="getTmlDeviceBasic" resultType="com.listen.model.sdkservice.TmlDeviceBasic"> 
         SELECT * FROM tml_device_basic WHERE 1=1 
         <if test="devCodeOrMac!='' and devCodeOrMac!=null">
			and (dev_code like CONCAT(#{devCodeOrMac},'%') or dev_mac like CONCAT(#{devCodeOrMac},'%'))
		 </if>
         ORDER BY dev_id DESC
     </select>
     
</mapper>